<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <configSections>
    <section name="ExternalProxySection" type="Sesame.Communication.External.Client.ConfigSection.ExternalProxySection, Sesame.Communication.External.Client, Culture=neutral, PublicKeyToken=84d730ab7945ba26" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>

  <ExternalProxySection>
    <CategoryPropertyItems>
      <add id="KeepAlivePeriodMilliseconds" entryValue="30000" />
      <add id="RetryCount" entryValue="10" />
      <add id="RetryCountIntervalMilliseconds" entryValue="3000" />
    </CategoryPropertyItems>
  </ExternalProxySection>

</configuration>